@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@keyframes navyEffect {
  0% {
    height: 10%;
    width: 0%; }
  100% {
    height: 10%;
    width: 100%; } }

@keyframes open-menu {
  0% {
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0); }
  100% {
    transform: translateX(0%);
    background-color: white; } }

@keyframes rotate-arrow {
  to {
    transform: rotate(360deg); } }

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  body::selection {
    background-color: rgba(0, 255, 255, 0.6);
    color: red; }

.none {
  display: none; }

footer a {
  position: fixed;
  bottom: 2em;
  right: 1em;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3; }

@media (hover: hover) {
  .back-top circle, .back-top g path {
    transition: fill 150ms ease-in; }
  .back-top:hover > circle {
    fill: white; }
  .back-top:hover > g path {
    fill: #0092D0;
    animation: rotate-arrow 900ms backwards;
    transform-origin: 50% 50% 0; } }

@media only screen and (max-width: 768px) {
  .burger-cont {
    position: relative;
    height: 2.8rem;
    width: 2.8rem;
    margin: 0.5em -1em 0 0;
    background-color: rgba(73, 73, 73, 0.5); }
    .burger-cont:hover {
      background-color: rgba(73, 73, 73, 0.58);
      cursor: pointer; }
    .burger-cont:active {
      background-color: #494949; }
  .burger-cont span {
    position: absolute;
    height: 0.25rem;
    width: 70%;
    background-color: white;
    top: 45%;
    left: 14%;
    transition: 150ms linear; }
    .burger-cont span::selection {
      background: none; }
    .burger-cont span::before {
      content: '';
      position: absolute;
      height: 0.25rem;
      width: 100%;
      background-color: white;
      top: -0.65rem;
      left: 0;
      transition: 150ms ease-in; }
    .burger-cont span::after {
      content: '';
      position: absolute;
      height: 0.3rem;
      width: 100%;
      background-color: white;
      top: 0.65rem;
      left: 0;
      transition: 150ms ease-in; }
  .open span {
    position: absolute;
    height: 4px;
    width: 70%;
    background-color: rgba(25, 0, 255, 0);
    top: 45%;
    left: 15%; }
    .open span::before {
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: white;
      left: 0;
      transform: rotate(-45deg);
      top: 0rem; }
    .open span::after {
      content: '';
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: white;
      left: 0;
      transform: rotate(45deg);
      top: 0rem; } }

.cards-wrapper {
  min-height: 60vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.card {
  margin: 1.5em 0 1em;
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 1 0; }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 1em; }
  .card-container img {
    width: 15%;
    position: absolute;
    top: 0%; }

.clients {
  min-width: 350px;
  width: 50%;
  position: relative; }
  .clients span {
    color: #00a5a5;
    font-size: 1.25rem; }

.candidates {
  min-width: 350px;
  width: 50%;
  position: relative; }
  .candidates span {
    color: #00a5a5;
    font-size: 1.25rem; }

.card-text {
  margin-bottom: 0;
  height: 60%;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black; }
  .card-text h3 {
    font-size: 1.6rem;
    color: #424242; }
  .card-text p {
    font-weight: 600;
    color: #646464; }
  .card-text a {
    margin-top: 0.75em;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 50em;
    color: white;
    border: 0.2rem solid #00a5a5;
    background-color: #00a5a5;
    transition-duration: 400ms;
    font-size: 1.1rem; }
    .card-text a:hover {
      color: #00a5a5;
      border: 0.2rem solid #00a5a5;
      background-color: white; }

.lang-toggler {
  background-color: rgba(245, 245, 245, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 9rem;
  height: 6rem;
  border-top: solid 0.2rem #0092e7;
  position: absolute;
  right: 5.5rem;
  top: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in; }
  .lang-toggler:hover {
    opacity: 1; }
  .lang-toggler .lang {
    width: 100%;
    height: 50%;
    padding-left: 0.75em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #004c79;
    cursor: pointer; }
    .lang-toggler .lang:hover {
      background-color: #b6b6b6; }

/*********** Parallax separator ***********/
.paral-img {
  width: 100%;
  height: 80vh;
  background: no-repeat center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .paral-img .spans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0);
    line-height: normal; }
  .paral-img span {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 1000;
    font-size: 10vw; }

@media (max-width: 880px) {
  .paral-img span {
    font-size: 12vw; } }

@media (max-width: 768px) {
  .paral-img span {
    font-size: 14vw; } }

.tag {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7.5%;
  left: 0; }

@media (min-width: 1400px) {
  .tag {
    width: 6vw;
    height: 2vh; } }

.contact {
  min-height: 50vh;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .contact::after {
    background: url(/abstract-painting-1546249.jpg) center;
    background-size: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5; }
  .contact form {
    margin: 9em 6em 6em;
    width: 60rem;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative; }
    .contact form::before {
      content: '';
      position: absolute;
      background-color: rgba(161, 161, 161, 0.5);
      width: 110%;
      height: 110%;
      border-radius: 0.5rem; }
  .contact .input-wrapper {
    margin-top: 1.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 50%; }
  .contact label {
    font-weight: 700;
    position: absolute;
    top: -25%;
    left: 5%; }
  .contact input {
    margin: 0.5em 0.75em;
    padding-left: 1em;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    flex: 1 1 100%; }
  .contact .text-wrapper {
    margin-top: 1.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 50%; }
    .contact .text-wrapper label {
      font-weight: 700;
      position: absolute;
      top: -1.25rem;
      left: 1.2rem; }
    .contact .text-wrapper textarea {
      margin: 0.5em 0.75em;
      padding: 1em 0 0 1em;
      font-size: 1rem;
      font-weight: 700;
      flex: 1 1 100%; }
  .contact button {
    width: 32vw;
    margin: 2em 30% 1em 30%;
    padding: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 50em;
    color: white;
    border: 0.2rem solid #00a5a5;
    background-color: #292929;
    transition-duration: 400ms;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    z-index: 1; }
    .contact button:hover {
      color: #00a5a5;
      border: 0.2rem solid #00a5a5;
      background-color: white;
      cursor: pointer; }

.contact-tag {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7.5%;
  left: 0; }

#contact {
  scroll-margin-top: 4rem; }

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: sticky;
  max-height: 20vh;
  background-color: black;
  color: white;
  font-size: 0.9rem; }
  footer p {
    margin: 1.5em 0 1.5em 7.5em; }
  footer span {
    color: rgba(0, 255, 255, 0.76);
    font-weight: bolder;
    font-size: 1rem; }

.footer-logo img {
  margin-bottom: 0;
  height: 100%;
  position: absolute; }

/*********** Video ***********/
.hero {
  background: rgba(12, 103, 131, 0.7) url(/video-pattern.png) repeat;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-flow: column; }
  .hero h1 {
    margin: 1% auto;
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 8vw;
    font-weight: 1000;
    letter-spacing: 0.1rem;
    text-shadow: 0px 0px 20px black;
    display: block;
    position: relative;
    z-index: 0; }
  .hero p {
    margin: 1% auto;
    color: white;
    font-size: 2.5vw;
    text-shadow: 0px 0px 20px black;
    display: block;
    position: relative;
    z-index: 0; }

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3.5rem; }
  .hero p {
    font-size: 1.5rem; } }

.hero-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1; }

/*********** Intro ***********/
.intro {
  background-color: white;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.intro h2 {
  margin-bottom: 0;
  padding: 0 10%;
  color: #363636;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  line-height: 1.5; }

.intro h2 span {
  font-weight: bolder;
  font-size: 2.2rem; }

@media (min-width: 1300px) {
  .intro h2 {
    font-size: 2vw; }
  .intro h2 span {
    font-size: 2.2vw; } }

@media (max-width: 768px) {
  .intro {
    height: 85vh; }
    .intro h2 {
      font-size: 1.8rem; }
    .intro h2 span {
      font-weight: bolder;
      font-size: 2.3rem; } }

#about-us {
  scroll-margin-top: 4rem; }

.navbar-desktop {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 4em;
  width: 100vw;
  padding: 0 1.8em;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 3;
  box-shadow: 8px 8px 4px -9px rgba(0, 0, 0, 0.75); }

.logo-img {
  margin-right: auto;
  width: 12.25rem;
  height: 2.75rem;
  padding: 0.6em 0 0 0.6em; }

@media only screen and (min-width: 769px) {
  .box {
    margin: auto 0;
    padding: 0 1.25em;
    flex-basis: 0.5em;
    flex-shrink: 1;
    text-align: center;
    transition: background-color 300ms; }
  .nav-link {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.015rem;
    text-decoration: none;
    position: relative;
    color: black;
    text-transform: uppercase;
    white-space: nowrap; }
    .nav-link:hover {
      color: #4a81a7; }
    .nav-link:active {
      color: rgba(0, 165, 165, 0.35); }
    .nav-link::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 10%;
      bottom: -30%;
      left: 0%;
      background-color: rgba(0, 82, 149, 0.99);
      transform-origin: center;
      z-index: -1; }
    .nav-link:hover::before {
      animation: navyEffect 150ms normal linear forwards; }
  .nav-icons {
    display: flex; }
    .nav-icons img:nth-child(1) {
      margin-right: 1.75em;
      width: 1.75rem;
      cursor: pointer; }
      .nav-icons img:nth-child(1):hover ~ .lang-toggler {
        opacity: 1; }
    .nav-icons a {
      margin: 0.9em 3.75em 0 0;
      width: 4rem;
      display: block;
      position: relative; }
      .nav-icons a img:nth-child(1) {
        width: 2.25rem; }
  .secondary .nav-link {
    color: white; }
    .secondary .nav-link:hover {
      color: rgba(255, 255, 255, 0.85); }
    .secondary .nav-link::before {
      background-color: white; }
    .secondary .nav-link:active {
      color: rgba(206, 206, 206, 0.267); }
  .navbar-mobile {
    display: none; } }

@media only screen and (max-width: 845px) {
  .nav-link {
    font-size: 0.9rem; }
  .box {
    padding: 1em 0.8em; } }

@media only screen and (max-width: 768px) {
  .navbar-mobile .closed {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 5.20em;
    padding: 10%;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    transform: translateX(100%); }
  .navbar-mobile .open {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 5.20em;
    padding: 10%;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    transform: translateX(100%);
    width: 80%;
    margin-top: 4em;
    animation: open-menu 500ms normal both; }
  .navbar-mobile li {
    color: #178ac0;
    margin: 3.5% auto;
    padding: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer; }
  .nav-link, .nav-icons {
    display: none; } }

.secondary {
  background-color: black;
  color: white;
  margin: auto 0;
  padding: 0em 1.8em;
  flex-basis: 60px;
  text-align: center;
  transition: background-color 300ms; }
  .secondary .nav-icons > img {
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(99deg) brightness(110%) contrast(104%); }

.serv-header {
  background: #7cc8db;
  background: radial-gradient(circle, #7cc8db 0%, #70b8ca 50%, #33adcc 100%);
  min-height: 35vh;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .serv-header h3 {
    color: white;
    font-size: 2.5rem; }

.serv-container {
  background-color: rgba(216, 216, 216, 0.5);
  height: 60vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .serv-container .serv {
    padding: 0 3em;
    margin: 0 2em 3em;
    background-color: white;
    min-height: 330px;
    width: 30%;
    border-radius: 2.5%;
    box-shadow: 0px 0px 17px -1px rgba(82, 82, 82, 0.24);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-10%) scale(1);
    transition: transform ease 350ms; }
    .serv-container .serv:hover {
      transform: translateY(-20%) scale(1.05); }
    .serv-container .serv h2 {
      color: #424242;
      font-size: 1.6rem; }
    .serv-container .serv p {
      color: #646464;
      margin-top: 0.15em; }

@media (max-width: 870px) {
  .serv-container {
    background-color: rgba(216, 216, 216, 0.781);
    height: 130vh;
    flex-direction: column;
    flex-wrap: wrap; }
    .serv-container .serv {
      margin: 0 2em 2em;
      min-height: 330px;
      width: 65%;
      transform: translateY(0); }
      .serv-container .serv:hover {
        transform: translateY(0); } }

.testimonials {
  height: 95vh;
  width: 100%;
  background: url(/white-smartphone.png) no-repeat center;
  background-size: cover;
  text-align: center;
  z-index: -1; }
  .testimonials h2 {
    color: #005490;
    font-size: 3vw; }

.testi-layer {
  height: 95vh;
  width: 100%;
  background-color: rgba(98, 179, 224, 0.75);
  overflow: hidden;
  position: relative; }
  .testi-layer .arrow {
    width: 1.9rem; }
    .testi-layer .arrow svg path {
      transition: fill 300ms ease-in; }
  .testi-layer .arrow-container-prev {
    position: absolute;
    top: 52%;
    left: 10%;
    cursor: pointer; }
    .testi-layer .arrow-container-prev:hover > svg path {
      fill: white; }
  .testi-layer .arrow-container-next {
    position: absolute;
    top: 52%;
    right: 10%;
    cursor: pointer; }
    .testi-layer .arrow-container-next:hover > svg path {
      fill: white; }

.testi-text-wrapper {
  background-color: rgba(225, 241, 255, 0.58);
  margin: 4em 20% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 55vh;
  transition: transform 1s ease; }
  .testi-text-wrapper p {
    padding: 1.5em 2.5em 0;
    font-size: 1.4rem;
    font-style: oblique;
    color: #626262; }
  .testi-text-wrapper .open-quotes {
    position: absolute;
    width: 4.7rem;
    height: 4rem;
    top: -2em;
    left: 45%; }
    .testi-text-wrapper .open-quotes path {
      fill: rgba(0, 84, 144, 0.75); }
  .testi-text-wrapper span {
    display: block;
    padding: 0.5em; }
    .testi-text-wrapper span:nth-child(3) {
      letter-spacing: 0.2rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      color: #313131; }

@media (max-width: 880px) {
  .testi-text-wrapper p {
    padding: 1em .5em 0;
    font-size: 1rem; }
  .testi-text-wrapper .open-quotes {
    width: 3.9rem;
    top: -2.25em;
    left: 42%; } }

.prev-testimonial {
  animation: flipper 800ms 1 reverse ease forwards; }

.next-testimonial {
  animation: flipper 800ms 1 normal ease forwards; }

@keyframes flipper {
  10% {
    opacity: 0.25; }
  50% {
    transform: translateX(-100%) rotateY(-90deg);
    opacity: 0; }
  60% {
    transform: translateX(100%) rotateY(90deg);
    opacity: 0; }
  100% {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1; } }
