@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";

@import "components/back-top";
@import "components/burger";
@import "components/cards";
@import "components/langPicker";
@import "components/parallax";
@import "components/tag";

@import "layout/contact";
@import "layout/footer";
@import "layout/hero";
@import "layout/intro";
@import "layout/navbar";
@import "layout/services";
@import "layout/testimonials";

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    z-index: 3;
    background-color: cornflowerblue;
    border-radius: 10px;
    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        button {
            width: 35%;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 2;
    transform: scale(0);
}

.modal.modal-active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-overlay.modal-active {
    transform: scale(1);
}