@mixin marg-padd-0 {
    margin: 0;
    padding: 0;    
}

@mixin tags {
    width: 200px;
    height: 50px;
    background-color: $blackSolid;
    color: $whiteSolid;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7.5%;
    left: 0;
}
