@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@keyframes navyEffect {
  0% {
    height: 10%;
    width: 0%; }
  100% {
    height: 10%;
    width: 90%; } }

@keyframes rotate-arrow {
  to {
    transform: rotate(360deg); } }

@keyframes flipper {
  10% {
    opacity: 0.25; }
  50% {
    transform: translateX(-100%) rotateY(-90deg);
    opacity: 0; }
  60% {
    transform: translateX(100%) rotateY(90deg);
    opacity: 0; }
  75% {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1; }
  100% {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1; } }

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
  overflow-x: hidden; }
  body::selection {
    background-color: rgba(0, 255, 255, 0.6);
    color: rgba(0, 255, 255, 0.8); }

.none {
  display: none; }

footer button {
  position: fixed;
  bottom: 2em;
  right: 1em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 3;
  transform: translateX(500%);
  transition: transform 1s ease; }

footer button.slide-in {
  transform: translateX(0%); }

@media (hover: hover) {
  .back-top circle, .back-top g path {
    transition: fill 150ms ease-in; }
  .back-top:hover > circle {
    fill: white; }
  .back-top:hover > g path {
    fill: #0092D0;
    animation: rotate-arrow 900ms backwards;
    transform-origin: 50% 50% 0; } }

@media only screen and (max-width: 1000px) {
  .navbar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1; }
  .nav-switch {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    z-index: 2;
    cursor: pointer; }
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  /* Hamburger Line */
  .hamburger > span {
    position: relative;
    flex: none;
    width: 100%;
    height: 4px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
  .secondary .hamburger > span {
    background-color: white; }
  /* Hamburger Lines - Top & Bottom */
  .hamburger > span::before,
  .hamburger > span::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 4px;
    background-color: inherit; }
  /* Moves Line Down */
  .hamburger > span::after {
    top: 10px; }
  /* nav-switch Animation */
  .nav-switch:checked + .hamburger > span {
    transform: rotate(135deg);
    background-color: white; }
  /* Turns Lines Into X */
  .nav-switch:checked + .hamburger > span:before,
  .nav-switch:checked + .hamburger > span:after {
    top: 0;
    transform: rotate(90deg); }
  /* Show Menu */
  .nav-switch:checked ~ .menu {
    visibility: visible; }
  .nav-switch:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 750ms; }
  .nav-switch:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s; }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
  .circle-wrapper {
    background-color: rgba(24, 39, 51, 0.85);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.4s ease; }
  .menu > div > div {
    text-align: center;
    margin: 22em 0;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease; }
  ul {
    padding: 0;
    margin: 0; }
  .menu li {
    list-style: none;
    padding: 1rem; }
  .menu button {
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.4s ease; }
  .menu .lang-mobile {
    position: relative;
    border: 2px white solid;
    color: white;
    font-size: 1.8rem;
    cursor: pointer; }
    .menu .lang-mobile .lang-options {
      position: absolute;
      top: 100%;
      left: -2px;
      width: 100%;
      border: 2px white solid;
      display: flex;
      flex-direction: column;
      background-color: #494949;
      cursor: pointer;
      transform: scale(0);
      transform-origin: top left; }
      .menu .lang-mobile .lang-options span:hover {
        background-color: #242424; }
    .menu .lang-mobile .lang-options.active {
      transform: scale(1); } }

.cards-wrapper {
  min-height: 60vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(65, 146, 167, 0.8) 0%, white 12%); }

.card {
  margin: 1.5em 0 1em;
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 1 0; }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 1em 0 3em; }
  .card-container img {
    min-width: 75px;
    width: 15%;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%); }

@media (max-width: 580px) {
  .card-container img {
    width: 20%;
    max-width: 80px;
    position: absolute;
    top: -5%; } }

.clients {
  min-width: 350px;
  width: 50%;
  position: relative; }
  .clients span {
    color: #00a5a5;
    font-size: 1.25rem; }

.candidates {
  min-width: 350px;
  width: 50%;
  position: relative; }
  .candidates span {
    color: #00a5a5;
    font-size: 1.25rem; }

.card-text {
  margin-bottom: 0;
  height: 60%;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black; }
  .card-text h3 {
    font-size: clamp(1.6rem, 1.6vw, 7rem);
    color: #424242;
    margin-bottom: 0; }
  .card-text p {
    font-size: clamp(1rem, 1vw, 4rem);
    font-weight: 600;
    color: #646464; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .card-container {
    min-height: 30vh; } }

@media (hover: hover) {
  .card-text a:hover {
    color: #00a5a5;
    border: 0.2rem solid #00a5a5;
    background-color: white; } }

.lang-toggler {
  background-color: rgba(245, 245, 245, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 9rem;
  height: 6rem;
  border-top: solid 0.2rem #0092e7;
  position: absolute;
  right: 5.5rem;
  top: 100%;
  overflow: hidden;
  transform: scale(0); }
  .lang-toggler:hover {
    transform: scale(1); }
  .lang-toggler .lang {
    width: 100%;
    height: 50%;
    padding-left: 0.75em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #004c79;
    cursor: pointer; }
    .lang-toggler .lang:hover {
      background-color: #b6b6b6; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #dbdbdb;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transform-style: preserve-3d; }
  .modal .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .modal .modal-content h2 {
      text-align: center;
      margin: 0 1em; }
    .modal .modal-content p {
      text-align: center;
      margin: 1em 1em;
      font-size: 1.1rem; }
    .modal .modal-content button {
      width: 70%;
      max-width: 350px;
      margin: 2em 30% 1em 30%;
      padding: 0.8em;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      border-radius: 10px;
      color: white;
      border: 0.2rem solid #00a5a5;
      background-color: #292929;
      transition-duration: 400ms;
      font-size: 1rem;
      font-weight: 600;
      z-index: 1;
      cursor: pointer; }

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9;
  transform: scale(0);
  pointer-events: none;
  cursor: not-allowed; }

.modal.modal-active {
  transform: translate(-50%, -50%) scale(1); }

.modal-overlay.modal-active {
  transform: scale(1); }

.paral-img {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  background: no-repeat center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .paral-img .spans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 75%;
    background-color: rgba(255, 255, 255, 0);
    line-height: normal; }
  .paral-img span {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 1000;
    font-size: clamp(3.5rem, 10vw, 50rem);
    white-space: nowrap; }

.tag {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: bolder;
  height: 50px;
  justify-content: center;
  left: 0;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 7.5%;
  width: auto; }

@media (min-width: 1400px) {
  .tag {
    min-width: 6vw;
    width: auto;
    height: 6vh; } }

@media (max-width: 580px) {
  .tag {
    min-width: 120px;
    width: auto;
    height: 50px; } }

.contact {
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .contact::before {
    background: url(./assets/abstract-painting-1546249.jpg) center no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6; }

.contact-card {
  background-color: #3b3b3b;
  padding: 1.5em;
  padding-left: 0;
  min-width: 15rem;
  min-width: 21rem;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  overflow: hidden;
  transform: translateX(10%); }
  .contact-card h3,
  .contact-card .contact-detail {
    color: white;
    margin: 0 0 0 4em; }
  .contact-card h3 {
    margin: 1em;
    align-self: center;
    font-size: clamp(1.2rem, 1.2vw, 5rem); }
  .contact-card p,
  .contact-card a {
    font-size: clamp(0.85rem, 0.9vw, 4rem);
    font-weight: 400;
    text-decoration: none;
    color: white; }
  .contact-card a {
    width: 90%; }
    .contact-card a:hover {
      color: #b0dbff; }
    .contact-card a:active {
      color: #569ad3; }
    .contact-card a:hover + div {
      width: 300px; }
  .contact-card .contact-detail {
    position: relative; }
  .contact-card .contact-icon {
    position: absolute;
    left: -2.5rem;
    top: 20%; }

.cont-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: translateX(-20%); }
  .cont-form::before {
    content: '';
    position: absolute;
    background-color: rgba(238, 238, 238, 0.7);
    top: 10%;
    width: 110%;
    height: 80%; }
  .cont-form .input-wrapper,
  .cont-form .text-wrapper {
    margin-left: 10em; }
  .cont-form form {
    margin: 6em 0;
    width: 35rem;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0; }
  .cont-form .input-wrapper {
    margin-top: 1.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    flex-wrap: wrap; }
  .cont-form label {
    font-weight: 700;
    position: absolute;
    top: -1.25rem;
    left: 1.2rem; }
  .cont-form input {
    margin: 0.5em 0.75em;
    padding-left: 1em;
    min-height: 3rem;
    font-size: clamp(1rem, 1vw, 4rem);
    font-weight: 700;
    flex: 1 1 100%; }
  .cont-form .text-wrapper {
    margin-top: 1.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    flex-wrap: wrap; }
    .cont-form .text-wrapper label {
      font-weight: 700;
      position: absolute;
      top: -1.25rem;
      left: 1.2rem; }
    .cont-form .text-wrapper textarea {
      margin: 0.5em 0.75em;
      padding: 1em 0 0 1em;
      font-size: clamp(1rem, 1vw, 4rem);
      font-weight: 700;
      flex: 1 1 100%;
      font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  .cont-form button {
    width: 32vw;
    margin: 2em 30% 1em 30%;
    padding: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-radius: 10px;
    color: white;
    border: 0.2rem solid #00a5a5;
    background-color: #292929;
    transition-duration: 400ms;
    font-size: 1rem;
    font-weight: 600;
    z-index: 1; }
    .cont-form button:hover {
      color: #00a5a5;
      border: 0.2rem solid #00a5a5;
      background-color: white;
      cursor: pointer; }

.invalid {
  outline: none;
  border: 2px solid crimson; }
  .invalid:focus {
    outline: none;
    border: 2px solid crimson; }

input + p {
  margin: 0 1em;
  color: #a00020;
  font-weight: bolder;
  font-style: oblique;
  opacity: 0;
  height: 0; }

input.invalid + p {
  opacity: 1;
  height: auto; }

textarea + p {
  margin: 0 1em;
  color: #a00020;
  font-weight: bolder;
  font-style: oblique;
  opacity: 0;
  height: 0; }

textarea.invalid + p {
  opacity: 1;
  height: auto; }

.valid {
  outline: none;
  border: 2px solid #248b35; }
  .valid:focus {
    outline: none;
    border: 2px solid #248b35; }

.contact-tag {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: clamp(1rem, 1vw, 5rem);
  font-weight: bolder;
  height: 50px;
  justify-content: center;
  left: 0;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 7.5%;
  width: auto; }

@media only screen and (max-width: 940px) {
  .contact {
    min-height: 1000px;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .contact-card {
    transform: translateX(0%);
    margin: 10em 1em 3em;
    padding: 0;
    max-width: 400px;
    width: 90%;
    z-index: 0; }
    .contact-card .contact-detail {
      margin: 0 0 0 3em; }
  .cont-form .input-wrapper,
  .cont-form .text-wrapper {
    margin-left: 0em; }
  .cont-form {
    margin: 1em;
    transform: translateX(0%); }
    .cont-form::before {
      top: 0;
      left: 2.5%;
      height: 100%;
      width: 95%; }
    .cont-form form {
      margin: 2em 10% 0;
      width: auto; } }

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  max-height: 15vh;
  background-color: black;
  color: white; }
  footer a {
    display: inline;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: color 300ms ease; }
    footer a:hover {
      color: rgba(0, 255, 255, 0.76); }
  footer p {
    margin: 1.5em 0;
    font-size: clamp(0.9rem, 0.9vw, 5rem); }
  footer span {
    color: rgba(0, 255, 255, 0.76);
    font-weight: bolder;
    font-size: clamp(0.9rem, 0.9vw, 5rem); }

/*********** Video ***********/
.hero {
  background: rgba(12, 103, 131, 0.7) url(./assets/video-pattern.png) repeat;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-flow: column; }
  .hero h1 {
    margin: 1% auto;
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 8vw;
    font-weight: 1000;
    letter-spacing: 0.1rem;
    text-shadow: 0px 0px 20px black;
    display: block;
    position: relative;
    z-index: 0;
    transition: transform 400ms ease, opacity 400ms ease; }
  .hero p {
    margin: 1% auto;
    color: white;
    font-size: 2.5vw;
    text-shadow: 0px 0px 20px black;
    display: block;
    position: relative;
    z-index: 0;
    transition: transform 500ms ease, opacity 500ms ease; }
  .hero button {
    justify-self: center;
    align-self: center;
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 0;
    min-width: 220px;
    width: 20vw;
    background-color: #0092D0;
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    outline: none;
    font-size: clamp(1.8rem, 1.8vw, 9rem);
    cursor: pointer;
    transition: transform 550ms ease, opacity 500ms ease, background-color 200ms ease; }
    .hero button:hover {
      background-color: rgba(0, 0, 0, 0); }
    .hero button:active {
      background-color: rgba(0, 71, 119, 0.15); }

.fade-up {
  transform: translateY(400px);
  opacity: 0; }

@media (max-width: 768px) {
  .hero h1 {
    font-size: 3.5rem; }
  .hero p {
    font-size: 1.5rem; }
  .hero button {
    font-size: 1.5rem;
    width: 30vw; } }

@media (max-width: 580px) {
  .hero h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 1em;
    line-height: 1.2; }
  .hero p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1em 1em 0; }
  .hero button {
    font-size: 1.8rem;
    width: 40vw; } }

.hero-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1; }

/*********** Intro ***********/
.intro {
  background-color: white;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.intro h2 {
  margin-bottom: 0;
  padding: 0 10%;
  color: #363636;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  line-height: 1.5; }

.intro h2 span {
  font-weight: bolder;
  font-size: 2.2rem; }

@media (min-width: 1300px) {
  .intro h2 {
    font-size: 2vw; }
  .intro h2 span {
    font-size: 2.2vw; } }

@media (max-width: 768px) {
  .intro {
    height: 85vh; }
    .intro h2 {
      font-size: 1.8rem; }
    .intro h2 span {
      font-weight: bolder;
      font-size: 2.3rem; } }

@media (max-width: 580px) {
  .intro {
    height: 75vh; }
    .intro h2 {
      font-size: 1.3rem; }
    .intro h2 span {
      font-weight: bolder;
      font-size: 1.6rem; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .intro {
    height: 40vh; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .intro {
    height: 30vh; }
  .cards-wrapper {
    min-height: 40vh; } }

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .intro {
    height: 40vh; }
  .card-container {
    min-height: 30vh; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .intro {
    height: 100vh; } }

#about-us {
  scroll-margin-top: 4rem; }

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 65px;
  height: 9vh;
  width: 100vw;
  padding: 0 1.8em;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 3;
  box-shadow: 8px 8px 4px -9px rgba(0, 0, 0, 0.75);
  transition: background-color 1s ease; }

.logo-container {
  align-items: center;
  display: flex;
  height: 9vh;
  position: fixed;
  left: 2vw;
  top: 0;
  min-width: 190px;
  width: 10vw; }
  .logo-container .logo-img {
    height: auto;
    width: 100%;
    object-fit: contain; }

@media only screen and (min-width: 1001px) {
  .box {
    margin: auto 0;
    padding: 0 1.5em;
    flex-basis: 0.5em;
    flex-shrink: 1;
    text-align: center;
    transition: background-color 300ms; }
  .nav-link {
    font-family: Helvetica, sans-serif;
    font-size: clamp(0.9rem, 0.8vw, 5rem);
    font-weight: 600;
    letter-spacing: -0.015rem;
    text-decoration: none;
    position: relative;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    cursor: pointer; }
    .nav-link:hover {
      color: #4a81a7; }
    .nav-link:active {
      color: rgba(0, 165, 165, 0.35); }
    .nav-link::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 10%;
      bottom: -30%;
      left: 5%;
      background-color: rgba(0, 82, 149, 0.99);
      transform-origin: center;
      z-index: -1; }
    .nav-link:hover::before {
      animation: navyEffect 150ms normal linear forwards; }
  .nav-icons {
    display: flex;
    align-items: center;
    position: relative; }
    .nav-icons .nav-icon-lang {
      cursor: pointer;
      margin: 0 2em 0 0;
      height: 100%;
      display: flex;
      align-items: center; }
      .nav-icons .nav-icon-lang svg {
        margin: 0; }
      .nav-icons .nav-icon-lang:hover ~ .lang-toggler {
        transform: scale(1); }
  a {
    margin: 0.5em 3.75em 0 0;
    width: 4rem;
    display: block;
    position: relative;
    text-align: left; }
    a svg:nth-child(1) {
      width: 2.25rem; }
  .navbar-mobile {
    transform: scale(0); } }

.secondary .nav-link {
  color: white; }
  .secondary .nav-link:hover {
    color: rgba(255, 255, 255, 0.85); }
  .secondary .nav-link::before {
    background-color: white; }
  .secondary .nav-link:active {
    color: rgba(206, 206, 206, 0.267); }

@media only screen and (max-width: 1000px) {
  .nav-link,
  .nav-icons {
    display: none; } }

.secondary {
  background-color: black;
  color: white;
  margin: auto 0;
  padding: 0em 1.8em;
  flex-basis: 60px;
  text-align: center;
  transition: background-color 1s ease; }
  .secondary div.nav-icons > div.nav-icon-lang > svg path {
    fill: white; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-main {
    height: 75px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-main {
    height: 75px; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .logo-img {
    padding: 15px; } }

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-main {
    height: 6vh; }
  .logo-img {
    padding: 10px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .navbar-main {
    height: 6vh; }
  .logo-img {
    padding: 10px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .navbar-main {
    height: 6vh; }
  .logo-img {
    padding: 10px; } }

.serv-header {
  background: rgba(65, 146, 167, 0.8);
  min-height: 35vh;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .serv-header h3 {
    color: white;
    font-size: clamp(2.5rem, 2.5vw, 12rem); }

.serv-overlay {
  max-width: 100%;
  background: linear-gradient(180deg, rgba(65, 146, 167, 0.8) 0%, rgba(190, 190, 190, 0.8) 12%);
  min-height: 95vh;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .serv-overlay .serv {
    position: relative;
    margin: 0 3em 3em;
    background-color: rgba(255, 255, 255, 0.75);
    min-height: 330px;
    width: 35%;
    border-radius: 5px;
    box-shadow: 0px 0px 17px -1px rgba(82, 82, 82, 0.24);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -10px -10px 0px 0px rgba(53, 53, 53, 0.3);
    transform: translateY(-10%) scale(1);
    transition: transform ease 350ms; }
    .serv-overlay .serv .serv1 {
      width: 100%; }
    .serv-overlay .serv img {
      border-radius: 5px 5px 0px 0px;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: relative;
      transform: translateY(-1px); }
    .serv-overlay .serv h2 {
      color: #424242;
      font-size: clamp(1.6rem, 1.6vw, 7rem);
      text-align: center;
      padding: 0.5em 1em 0; }
    .serv-overlay .serv p {
      color: #646464;
      font-size: clamp(1rem, 1vw, 5rem);
      margin-top: 0.15em;
      padding: 0 2em 2em; }

@media (max-width: 870px) {
  .serv-overlay {
    min-height: 170vh;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap; }
    .serv-overlay .serv {
      margin: 0 2em 3em;
      min-height: 330px;
      width: 65%;
      transform: translateY(0); }
      .serv-overlay .serv:hover {
        transform: translateY(0); } }

@media (max-width: 450px) {
  .serv-overlay .serv {
    margin: 0 auto 2.5em; } }

@media (max-width: 350px) {
  .serv-overlay .serv {
    margin: 0 auto 2em;
    width: 75vw; } }

@media (max-width: 450px) {
  .serv-header h3 {
    text-align: center;
    font-size: 2rem; } }

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
  .serv-overlay {
    min-height: 230vh; }
    .serv-overlay .serv {
      margin: 0 1em 2em;
      width: 70vw; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .serv-header {
    min-height: 15vh; }
  .serv-overlay {
    min-height: 110vh; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .serv-overlay {
    min-height: fit-content; } }

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .serv-overlay {
    min-height: fit-content; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .serv-header {
    min-height: 20vh; } }

.testimonials {
  min-height: 105vh;
  height: auto;
  width: 100%;
  background: url(./assets/white-smartphone.png) no-repeat center;
  background-size: cover;
  text-align: center;
  z-index: -1; }
  .testimonials h2 {
    color: #005490;
    font-size: clamp(3rem, 3vw, 14rem); }

.testi-layer {
  min-height: 105vh;
  height: auto;
  min-width: 100%;
  background-color: rgba(98, 179, 224, 0.75);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .testi-layer .arrow {
    width: 1.9rem; }
    .testi-layer .arrow svg path {
      transition: fill 300ms ease-in; }
  .testi-layer .arrow-container-prev {
    position: absolute;
    top: 52%;
    left: 10%;
    cursor: pointer; }
    .testi-layer .arrow-container-prev svg path {
      transition: fill ease 300ms; }
  .testi-layer .arrow-container-next {
    position: absolute;
    top: 52%;
    right: 10%;
    cursor: pointer; }
    .testi-layer .arrow-container-next svg path {
      transition: fill ease 300ms; }

@media (hover: hover) {
  .testi-layer .arrow-container-prev:hover > svg path {
    fill: white; }
  .testi-layer .arrow-container-next:hover > svg path {
    fill: white; } }

.testi-text-wrapper {
  background-color: rgba(225, 241, 255, 0.58);
  margin: 4em 20% 4em;
  padding: 3em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60%;
  height: auto;
  transition: transform 1s ease; }
  .testi-text-wrapper p {
    padding: 0 2.5em;
    font-size: clamp(1.1rem, 1.1vw, 5rem);
    font-style: oblique;
    color: #626262; }
  .testi-text-wrapper .open-quotes {
    position: absolute;
    width: 4.7rem;
    height: 4rem;
    top: -2em;
    left: 50%;
    transform: translateX(-50%); }
    .testi-text-wrapper .open-quotes path {
      fill: rgba(0, 84, 144, 0.75); }
  .testi-text-wrapper .testi-signature span {
    display: block;
    padding-bottom: .4em;
    font-size: clamp(1rem, 1vw, 4.5rem);
    font-weight: 500; }
    .testi-text-wrapper .testi-signature span:nth-child(2) {
      letter-spacing: 0.05rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      color: #313131;
      font-size: clamp(0.9rem, 0.9vw, 4.25rem); }

@media (max-width: 1330px) {
  .testi-text-wrapper {
    margin: 4em 15% 0; } }

@media (max-width: 880px) {
  .testimonials {
    min-height: 115vh;
    height: auto; }
    .testimonials h2 {
      font-size: 2rem; }
    .testimonials .testi-layer {
      min-height: 115vh;
      height: auto; }
      .testimonials .testi-layer .arrow-container-prev {
        opacity: 0; }
      .testimonials .testi-layer .arrow-container-next {
        opacity: 0; }
    .testimonials .testi-text-wrapper {
      margin: 4em 10% 4em;
      padding: 2em 0;
      height: 70%; }
      .testimonials .testi-text-wrapper p {
        padding: .5em 2em;
        font-size: 1rem; } }

@media (max-width: 400px) {
  .testimonials {
    min-height: 1005px; }
    .testimonials .testi-layer {
      min-height: 1005px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .testimonials {
    min-height: 70vh; }
    .testimonials .testi-layer {
      min-height: 70vh; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .testi-layer .arrow-container-prev,
  .testi-layer .arrow-container-next {
    top: 47.5%; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .testi-layer .arrow-container-prev,
  .testi-layer .arrow-container-next {
    top: 55%; }
  .testimonials h2 {
    font-size: 65px; }
  .testimonials, .testimonials .testi-layer {
    min-height: 55vh; } }

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .testi-layer .arrow-container-prev,
  .testi-layer .arrow-container-next {
    top: 55%; }
  .testimonials h2 {
    font-size: 65px; }
  .testimonials, .testimonials .testi-layer {
    min-height: 70vh; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .testimonials, .testimonials .testi-layer {
    min-height: 880px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .testimonials, .testimonials .testi-layer {
    min-height: 160vh; } }

.prev-testimonial {
  animation: flipper 800ms 1 reverse ease forwards; }

.next-testimonial {
  animation: flipper 800ms 1 normal ease forwards; }
