// For highlighting the navbar links

@keyframes navyEffect {
    0% {
        height: 10%;
        width: 0%;
    }

    100% {
        height: 10%;
        width: 90%;
    }
}

// To rotate the back to top button

@keyframes rotate-arrow {
    to {
        transform: rotate(360deg);
    }
}

// To go to the previous and next testimonial slides

@keyframes flipper {
    10% {
        opacity: 0.25;
    }

    50% {
        transform: translateX(-100%) rotateY(-90deg);
        opacity: 0;
    }

    60% {
        transform: translateX(100%) rotateY(90deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) rotateY(0deg);
        opacity: 1;
    }
}