.contact {
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &::before {
        background: url(./assets/abstract-painting-1546249.jpg) center no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.6;
    }
}

.contact-card {
    background-color: rgba(59, 59, 59, 1);
    padding: 1.5em;
    padding-left: 0;
    min-width: 15rem;
    width: 21rem;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    overflow: hidden;
    transform: translateX(10%);

    h3,
    .contact-detail {
        color: $whiteSolid;
        margin: 0 0 0 4em;
    }

    h3 {
        margin: 1em;
        align-self: center;
    }

    p,
    a {
        font-size: 0.85rem;
        font-weight: 400;
        text-decoration: none;
        color: $whiteSolid;
    }

    a {
        width: 90%;

        &:hover {
            color: rgb(176, 219, 255);
        }

        &:active {
            color: rgb(86, 154, 211);
        }

        &:hover+div {
            width: 300px;
        }
    }

    .contact-detail {
        position: relative;
    }

    .contact-icon {
        position: absolute;
        left: -2.5rem;
        top: 20%;
    }
}

.cont-form {
    // background-color: rgba(0, 255, 255, 0.37);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateX(-20%);

    &::before {
        content: '';
        position: absolute;
        background-color: rgba(238, 238, 238, 0.7);
        top: 10%;
        width: 110%;
        height: 80%;
    }

    .input-wrapper,
    .text-wrapper {
        margin-left: 10em;
    }

    form {
        margin: 6em 0;
        width: 35rem;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        z-index: 0;


    }

    .input-wrapper {
        margin-top: 1.5em;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 100%;
        flex-wrap: wrap;
    }

    label {
        font-weight: 700;
        position: absolute;
        top: -1.25rem;
        left: 1.2rem;
    }

    input {
        margin: 0.5em 0.75em;
        padding-left: 1em;
        height: 3rem;
        font-size: 1rem;
        font-weight: 700;
        flex: 1 1 100%;
        //border: 1px solid rgb(85, 85, 85);
    }

    .text-wrapper {
        margin-top: 1.5em;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 100%;
        flex-wrap: wrap;

        label {
            font-weight: 700;
            position: absolute;
            top: -1.25rem;
            left: 1.2rem;
        }

        textarea {
            margin: 0.5em 0.75em;
            padding: 1em 0 0 1em;
            font-size: 1rem;
            font-weight: 700;
            flex: 1 1 100%;
            font-family: $montserrat;
            //border: 1px solid rgb(85, 85, 85);
        }
    }

    button {
        width: 32vw;
        margin: 2em 30% 1em 30%;
        padding: 0.8em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        border-radius: 10px;
        color: $whiteSolid;
        border: 0.2rem solid rgb(0, 165, 165);
        background-color: rgb(41, 41, 41);
        transition-duration: 400ms;
        font-size: 1rem;
        font-weight: 600;
        z-index: 1;

        &:hover {
            color: rgb(0, 165, 165);
            border: 0.2rem solid rgb(0, 165, 165);
            background-color: $whiteSolid;
            cursor: pointer;
        }
    }
}

.invalid {
    outline: none;
    border: 2px solid crimson;

    &:focus {
        outline: none;
        border: 2px solid crimson;

    }
}

input+p {
    margin: 0 1em;
    color: rgb(160, 0, 32);
    font-weight: bolder;
    font-style: oblique;
    opacity: 0;
    height: 0;
}

input.invalid+p {
    opacity: 1;
    height: auto;
}

textarea+p {
    margin: 0 1em;
    color: rgb(160, 0, 32);
    font-weight: bolder;
    font-style: oblique;
    opacity: 0;
    height: 0;
}

textarea.invalid+p {
    opacity: 1;
    height: auto;
}

.valid {
    outline: none;
    border: 2px solid rgb(36, 139, 53);

    &:focus {
        outline: none;
        border: 2px solid rgb(36, 139, 53);

    }
}

.contact-tag {
    @include tags;
}

@media only screen and (max-width: 940px) {

    .contact {
        min-height: 1000px;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .contact-card {
        transform: translateX(0%);
        margin: 10em 1em 3em;
        padding: 0;
        //margin-left: 0;
        //min-width: 70%;
        max-width: 400px;
        width: 90%;
        z-index: 0;
        .contact-detail {
            margin: 0 0 0 3em;
        }
    }

    .cont-form .input-wrapper,
    .cont-form .text-wrapper {
        margin-left: 0em;
    }

    .cont-form {
        margin: 1em;
        transform: translateX(0%);

        &::before {
            top: 0;
            left: 2.5%;
            height: 100%;
            width: 95%;
        }

        form {
            margin: 2em 10% 0;
            width: auto;

        }
    }
}