.navbar-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 65px;
    height: 11vh;
    width: 100vw;
    padding: 0 1.8em;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    z-index: 3;
    box-shadow: 8px 8px 4px -9px rgba(0, 0, 0, 0.75);
    transition: background-color 1s ease;
}

.logo-img {
    margin-right: auto;
    width: 200px;
    padding: 2vh 0 0 1vw;
    position: fixed;
    top: 0;
    left: 1rem;
}

@media only screen and (min-width: 1001px) {

    .box {
        margin: auto 0;
        padding: 0 1.5em;
        flex-basis: 0.5em;
        flex-shrink: 1;
        text-align: center;
        transition: background-color 300ms;

    }

    .nav-link {
        font-family: Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: -0.015rem;
        text-decoration: none;
        position: relative;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        white-space: nowrap;
        background-color: $whiteTransp;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
            color: rgb(74, 129, 167);
        }

        &:active {
            color: rgba(0, 165, 165, 0.35);
        }

        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 10%;
            bottom: -30%;
            left: 5%;
            background-color: rgba(0, 82, 149, 0.99);
            transform-origin: center;
            z-index: -1;
        }

        &:hover::before {
            animation: navyEffect 150ms normal linear forwards;
        }
    }

    .nav-icons {
        display: flex;

        .nav-icon-lang {
            cursor: pointer;
            margin: 0 2em 0 0;
            svg {
                margin-top: 50%;
            }
            &:hover~.lang-toggler {
                transform: scale(1);
            }
        }

    }

    a {
        margin: 0.9em 3.75em 0 0;
        width: 4rem;
        display: block;
        position: relative;
        text-align: left;

        svg:nth-child(1) {
            width: 2.25rem;
        }
    }

    .navbar-mobile {
        transform: scale(0);
    }
}

.secondary .nav-link {
    color: $whiteSolid;

    &:hover {
        color: rgba(255, 255, 255, 0.85);
    }

    &::before {
        background-color: $whiteSolid;
    }

    &:active {
        color: rgba(206, 206, 206, 0.267);
    }
}

@media only screen and (max-width: 1000px) {

    .nav-link,
    .nav-icons {
        display: none;
    }
}

.secondary {
    background-color: $blackSolid;
    color: $whiteSolid;
    margin: auto 0;
    padding: 0em 1.8em;
    flex-basis: 60px;
    text-align: center;
    transition: background-color 1s ease;

    div.nav-icons > div.nav-icon-lang > svg path {
        fill: $whiteSolid;
    }
}

// IPAD portrait
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-main {
        height: 75px;

    }
}

//IPAD landscape
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-main {
        height: 75px;

    }
}

//IPAD Pro Portrait
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo-img {
        padding: 15px;

    }
}

// IPAD Pro Landscape
@media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-main {
        height: 6vh;

    }
    .logo-img {
        padding: 10px;

    }
}

//IPhone X Portrait
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .navbar-main {
        height: 6vh;

    }
    .logo-img {
        padding: 10px;

    }
}

//IPhone X Landscape
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .navbar-main {
        height: 6vh;

    }
    .logo-img {
        padding: 10px;

    }
}