.serv-header {
    background: rgba(65, 146, 167, .8);
    min-height: 35vh;
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        color: $whiteSolid;
        font-size: clamp(2.5rem, 2.5vw, 12rem);
    }
}

.serv-overlay {
    max-width: 100%;
    background: linear-gradient(180deg, rgba(65, 146, 167, 0.8) 0%, rgba(190, 190, 190, 0.8) 12%);
    min-height: 95vh;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .serv {
        position: relative;
        //padding: 0 3em;
        margin: 0 3em 3em;
        background-color: rgba(255, 255, 255, 0.75);
        min-height: 330px;
        width: 35%;
        border-radius: 5px;
        box-shadow: 0px 0px 17px -1px rgba(82, 82, 82, 0.24);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: -10px -10px 0px 0px rgba(53, 53, 53, 0.3);
        transform: translateY(-10%) scale(1);
        transition: transform ease 350ms;

        .serv1 {
            width: 100%;
        }

        img {
            border-radius: 5px 5px 0px 0px;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: relative;
            transform: translateY(-1px);
        }

        h2 {
            color: rgb(66, 66, 66);
            font-size: clamp(1.6rem, 1.6vw, 7rem);
            text-align: center;
            padding: 0.5em 1em 0;
        }

        p {
            color: rgb(100, 100, 100);
            font-size: clamp(1rem, 1vw, 5rem);
            margin-top: 0.15em;
            padding: 0 2em 2em;
        }
    }
}

@media(max-width: 870px) {
    .serv-overlay {
        min-height: 170vh;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;

        .serv {
            margin: 0 2em 3em;
            min-height: 330px;
            width: 65%;
            transform: translateY(0);

            &:hover {
                transform: translateY(0);
            }

        }
    }
}


@media(max-width: 450px) {
    .serv-overlay {
        .serv {
            margin: 0 auto 2.5em;
        }
    }
}

@media(max-width: 350px) {
    .serv-overlay {
        .serv {
            margin: 0 auto 2em;
            width: 75vw;
        }
    }
}

@media(max-width: 450px) {
    .serv-header {
        h3 {
            text-align: center;
            font-size: 2rem;
        }
    }
}

@media only screen and (max-device-width : 768px) and (orientation : landscape) {
    .serv-overlay {
        min-height: 230vh;

        .serv {
            margin: 0 1em 2em;
            width: 70vw;
        }
    }
}

// IPAD Portrait
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .serv-header {
        min-height: 15vh;

    }
    .serv-overlay {
        min-height: 110vh;
    }
}

// IPAD Pro Portrait
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .serv-overlay{
        min-height: fit-content;
    }
}

// IPAD Pro Landscape
@media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
        .serv-overlay{
            min-height: fit-content;
        }
}

//IPhone X Portrait
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .serv-header {
        min-height: 20vh;
    }
}

// @media (hover: hover) {
//     .serv-overlay .serv {
//         &:hover {
//             transform: translateY(-20%) scale(1.05);
//         }
//     }
// }