.testimonials {
    min-height: 105vh;
    height: auto;
    width: 100%;
    background: url(./assets/white-smartphone.png) no-repeat center;
    background-size: cover;
    text-align: center;
    z-index: -1;

    h2 {
        color: rgba(0, 84, 144, 1);
        font-size: clamp(3rem, 3vw, 14rem);
    }
}

.testi-layer {
    min-height: 105vh;
    height: auto;
    min-width: 100%;
    background-color: rgba(98, 179, 224, 0.75);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .arrow {
        width: 1.9rem;

        svg path {
            transition: fill 300ms ease-in;
        }
    }

    .arrow-container-prev {
        position: absolute;
        top: 52%;
        left: 10%;
        cursor: pointer;

        svg path {
            transition: fill ease 300ms;
        }
    }

    .arrow-container-next {
        position: absolute;
        top: 52%;
        right: 10%;
        cursor: pointer;

        svg path {
            transition: fill ease 300ms;
        }
    }
}

@media (hover: hover) {
    .testi-layer {
        .arrow-container-prev {
            &:hover>svg path {
                fill: white;
            }
        }

        .arrow-container-next {
            &:hover>svg path {
                fill: white;
            }
        }
    }
}

.testi-text-wrapper {
    background-color: rgba(225, 241, 255, 0.58);
    margin: 4em 20% 4em;
    padding: 3em 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60%;
    height: auto;
    transition: transform 1s ease;

    p {
        padding: 0 2.5em;
        font-size: clamp(1.1rem, 1.1vw, 5rem);
        font-style: oblique;
        color: rgba(98, 98, 98, 1);
    }

    .open-quotes {
        position: absolute;
        width: 4.7rem;
        height: 4rem;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);

        path {
            fill: rgba(0, 84, 144, 0.75);
        }
    }

    .testi-signature {

        span {
            display: block;
            padding-bottom: .4em;
            font-size: clamp(1rem, 1vw, 4.5rem);
            font-weight: 500;

            &:nth-child(2) {
                letter-spacing: 0.05rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                color: rgb(49, 49, 49);
                font-size: clamp(0.9rem, 0.9vw, 4.25rem);;
            }
        }
    }
}

@media(max-width: 1330px) {
    .testi-text-wrapper {
        margin: 4em 15% 0;
    }
}

@media(max-width: 880px) {
    .testimonials {
        min-height: 115vh;
        height: auto;

        h2 {
            font-size: 2rem;
        }

        .testi-layer {
            min-height: 115vh;
            height: auto;

            .arrow-container-prev {
                opacity: 0;
            }

            .arrow-container-next {
                opacity: 0;
            }

        }

        .testi-text-wrapper {
            margin: 4em 10% 4em;
            padding: 2em 0;
            height: 70%;

            p {
                padding: .5em 2em;
                font-size: 1rem;
            }

        }
    }
}

@media(max-width: 400px) {
    .testimonials {
        min-height: 1005px;

        .testi-layer {
            min-height: 1005px;
        }
    }
}

// IPAD Portrait
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .testimonials {
        min-height: 70vh;

        .testi-layer {
            min-height: 70vh;
        }
    }
}

// IPAD Landscape
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .testi-layer .arrow-container-prev, 
    .testi-layer .arrow-container-next {
        top: 47.5%;
    }
}

// IPAD Pro Portrait
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .testi-layer .arrow-container-prev, 
    .testi-layer .arrow-container-next {
        top: 55%;
    }
    .testimonials h2 {
        font-size: 65px;
    }

    .testimonials, .testimonials .testi-layer {
        min-height: 55vh;
    }
}

// IPAD Pro Landscape
@media only screen 
    and (min-device-width: 1366px) 
    and (max-device-width: 1366px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
    .testi-layer .arrow-container-prev, 
    .testi-layer .arrow-container-next {
        top: 55%;
    }
    .testimonials h2 {
        font-size: 65px;
    }

    .testimonials, .testimonials .testi-layer {
        min-height: 70vh;
    }
}

//IPhone X Portrait
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .testimonials, .testimonials .testi-layer {
        min-height: 880px;
    }
}

//IPhone X Landscape
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .testimonials, .testimonials .testi-layer {
        min-height: 160vh;
    }
}

.prev-testimonial {
    animation: flipper 800ms 1 reverse ease forwards;
}

.next-testimonial {
    animation: flipper 800ms 1 normal ease forwards;
}

