footer button {
    position: fixed;
    bottom: 2em;
    right: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 3;
    transform: translateX(500%);
    transition: transform 1s ease;

}

footer button.slide-in {
    transform: translateX(0%);
}

@media (hover: hover) {
    .back-top {
        circle, g path {
        transition: fill 150ms ease-in;
    }
        &:hover > circle {
            fill: white;
        }
        &:hover > g path {
            fill: #0092D0;
            animation: rotate-arrow 900ms backwards;
            transform-origin: 50% 50% 0;
        }
    }
  }
  