.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: rgb(219, 219, 219);
    border: 3px solid rgba(0, 0, 0, .6);
    border-radius: 10px;
    transform-style: preserve-3d;
    
    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        h2 {
            text-align: center;
            margin: 0 1em;
        }
        p {
            text-align: center;
            margin: 1em 1em;
            font-size: 1.1rem;
        }
        
        button {
            width: 70%;
            max-width: 350px;
            margin: 2em 30% 1em 30%;
            padding: 0.8em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            border-radius: 10px;
            color: $whiteSolid;
            border: 0.2rem solid rgb(0, 165, 165);
            background-color: rgb(41, 41, 41);
            transition-duration: 400ms;
            font-size: 1rem;
            font-weight: 600;
            z-index: 1;
            cursor: pointer;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 9;
    transform: scale(0);
    pointer-events: none;
    cursor: not-allowed;

}

.modal.modal-active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-overlay.modal-active {
    transform: scale(1);
}