.tag {
    @include tags;
}

@media(min-width: 1400px) {
    .tag {
        width: 6vw;
        height: 6vh;
    }    
}

@media(max-width: 580px) {
    .tag {
        width: 120px;
        height: 50px;
    }    
}