footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: sticky;
    max-height: 10vh;
    background-color: rgb(0, 0, 0);
    color: $whiteSolid;
    font-family: $montserrat;

    p {
        margin-left: 7.5rem;
    }
}

.footer-logo img {
    margin-bottom: 0;
    height: 100%;
    position: absolute;
}