/*********** Intro ***********/
.intro {
    background-color: $whiteSolid;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro h2 {
    margin-bottom: 0;
    padding: 0 10%;
    color: rgb(54, 54, 54);
    font-family: $montserrat;
    font-size: 2rem;
    // font-weight: 1000;
    text-align: center;
    display: inline-block;
    line-height: 1.5;
}

.intro h2 span {
    font-weight: bolder;
    font-size: 2.2rem;
}

@media(max-width: 768px) {
    .intro {
        height: 85vh;

        h2 {
            font-size: 1.8rem;
        }

        h2 span {
            font-weight: bolder;
            font-size: 2.3rem;
        }
    }
}

#about-us {
    scroll-margin-top: 4rem;
}