.serv-header {
    //background-color: rgb(112, 184, 202);
    background: rgb(124,200,219);
    background: radial-gradient(circle, rgba(124,200,219,1) 0%, rgba(112,184,202,1) 50%, rgba(51,173,204,1) 100%);
    min-height: 35vh;
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        color: $whiteSolid;
        font-size: 2.5rem;
    }
}

.serv-container {
    background-color: rgba(216, 216, 216, 0.5);
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .serv {
        padding: 0 3em;
        margin: 0 2em 3em;
        background-color: $whiteSolid;
        min-height: 330px;
        width: 30%;
        border-radius: 2.5%;
        box-shadow: 0px 0px 17px -1px rgba(82,82,82,0.24);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-10%) scale(1);
        transition: transform ease 350ms;
        &:hover{
            transform: translateY(-20%) scale(1.05);
        }
        h2 {
            color: rgb(66, 66, 66);
            font-size: 1.6rem;
        }
        p {
            color: rgb(100, 100, 100);
            margin-top: 0.15em;
        }
    }
}

@media(max-width: 870px){
    .serv-container {
        background-color: rgba(216, 216, 216, 0.781);
        height: 130vh;
        flex-direction: column;
        flex-wrap: wrap;
        .serv {
            margin: 0 2em 2em;
            min-height: 330px;
            width: 65%;
            transform: translateY(0);
            &:hover{
                transform: translateY(0);
            }

        }
    }
}