$blackSolid: rgba(0, 0, 0, 1);
$montserrat: 'Montserrat',
'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
$whiteSolid: rgba(255, 255, 255, 1);
$whiteTransp:rgba(255, 255, 255, 0);